*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 15px;
}

body {
    font-family: 'Nunito', sans-serif;
}

.container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 20px;
}

a {
    color: $color-blue;
    text-decoration: none;
}

ul {
    list-style: none;
}

textarea {
    resize: none;
}

.section-title {
    position: relative;

    &::before {
        position: absolute;
        left: -70px;
        transform: rotate(-90deg);
        color: $color-main;
        font-size: 0.8rem;
        font-weight: 800;
        text-transform: uppercase;
        color: $color-gray;
        transition: transform 0.2s ease-in-out, top 0.2s 0.4s ease-in-out;
    }

    &:hover::before {
        transform: rotate(0);
        top: 0 !important;
    }
}