.links {
    margin-bottom: 70px;
    
    .section-title {
        &::before {
            content: 'links';
            top: 12px;
        }
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
    }

    &__item {
        display: flex;
        justify-content: space-between;
        flex-basis: 50%;
        margin-bottom: 2.5rem;
        font-size: 1.06rem;
        font-weight: 600;
        line-height: 1rem;

        &:nth-of-type(2n + 1) {
            padding-right: 2rem;
        }

        &:nth-of-type(2n) {
            padding-left: 30px;
        }
    }

    &__link {
        position: relative;
        transition: all 0.2s ease;

        &:hover {
            color: $color-red;
        }

        &::after {
            content: '';
            position: absolute;
            width: 0;
            height: 2px;
            bottom: -5px;
            left: 0;
            background: transparent;
            transition: all 0.2s ease;
        }

        &:hover::after {
            width: 100%;
            left: 0;
            background: $color-red;
        }

        &:hover + .links__year {
            font-weight: 800;
            color: $color-main;
        }
    }

    &__year {
        color: $color-gray;
        transition: all 0.2s ease;
    }
}